body {
  background-image: url("../css/bg.jpg");
  font: 13px georgia, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  background: #333;
  font-size: 21px;
  padding: 5px 0 5px 20px;
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  color: #fff;
}

.container {
  width: 700px;
  height: 300px;
  position: relative;
  font: 12px georgia, serif;
  background-color: #bcffbc;
  color: #000;
  padding: 10px;
  margin: 20px auto 20px auto;
  margin-bottom: 20px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.container.xiuxiu {
  background: #ffbce3;
}

.container.forss {
  background: #bcebff;
}

.container .info {
  position: absolute;
  left: 330px;
  top: 10px;
}

.container .info h3 {
  font-weight: normal;
  font-size: 18px;
  font-style: italic;
  margin: 5px 0 0 0;
}

.container .info h4 {
  font-weight: normal;
  font-size: 15px;
  margin: 4px 0 0 0;
}

.buy {
  margin: 7px 0 0 0;
  display: block;
  width: 90px;
  background: #333;
  padding: 1px 10px;
  border: 1px solid #000;
  background: transparent url("../css/buy-bg.png") 0 0 repeat-x;
  text-align: center;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 7px;
}

li .buy {
  position: absolute;
  right: 3px;
  top: -3px;
  width: 0px;
  padding: 1px 13px 1px 5px;
}
  
.buy a {
  background: transparent url("../css/note.png") 0 0 no-repeat;
  padding-left: 13px;
  color: #fff;
}

.container .info h4 span{
  font-style: italic;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */
.sc-player .sc-artwork-list {
  width: 300px;
  height: 100%;
  list-style-type: none;
  position: relative;
}

.sc-player .sc-artwork-list li {
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active {
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 300px;
  height: 300px;
}

/* controls */


.sc-player .sc-controls{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -50px;
  margin-top: -25px;
  top: 160px;
  left: 25%;
}

.sc-player .sc-controls a{
  display: block;
  width: 50px;
  height: 50px;
  background: transparent url("../css/buttons-grey.png") -5px -4px no-repeat;
  text-indent: -9999px;
  outline: 0;
}

.sc-player .sc-controls a:hover {
  background: transparent url("../css/buttons-grey.png") -64px -4px no-repeat;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
  background: transparent url("../css/buttons-grey.png") -5px -70px no-repeat;
}

.sc-player .sc-controls a.sc-pause:hover {
  display: none;
  background: transparent url("../css/buttons-grey.png") -64px -70px no-repeat;
}

.sc-player.playing .sc-controls a.sc-play {
  display: none;

}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */
.sc-scrubber {
  background-color: red;
  position: absolute;
  left: -5000px;
  bottom: 10px;
  height: 20px;
  width: 250px;
}

.sc-player:hover .sc-scrubber {
  display: block;
  left: 10px;
}

.sc-scrubber .sc-time-span{
  background-color: #fff;
  height: 10px;
  margin: 5px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  background-color: #aaa;
  height: 10px;
  position: absolute;
  top: 0;
}

.sc-scrubber .sc-played{
  background-color: #333;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  top: -15px;
}
/* tracks */


/* Track listings*/
.sc-player ol.sc-trackslist {
  position: absolute;
  width: 400px;
  height: 200px;
  top: 100px;
  left: 310px;
  overflow: auto;
}

.sc-player ol.sc-trackslist li{
  cursor: pointer;
  margin: 0 5px 0 20px;
  padding: 5px 5px 5px 5px;
  position: relative;
  border-bottom: 1px solid #fff;
}

.sc-player ol.sc-trackslist li .title {
  font-weight: bold;
}

.sc-player ol.sc-trackslist li a.buy {
  position: absolute !important; 
  right: 0;
  width: 50px;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 7px;
  text-decoration: none;
  color: #333;
}

.sc-player ol.sc-trackslist li:hover, .sc-player.playing ol.sc-trackslist li.active{
  background-color: #fff;
}

.sc-player ol.sc-trackslist li.active{
  background-color: #fff;
}

/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: 10px;
  left: -5000px;
  width : 400px;
  padding: 5px;
  height: 200px;
  z-index: 500;
  margin-left: -200px;
  background: rgba(30, 30, 30, 0.9);
}

.sc-player .sc-info.active{
  left: 50%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 20px;
  display: none;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  position: absolute;
  top: 10px;
  right: 20px;
  color: #bbb;
}




/* utilities */
.sc-player .hidden {
  display: none;
}

#scPlayerEngine{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
