body {
  background-image: url("../css/bg.jpg");
  font: 13px georgia, serif;
}

a {
  text-decoration: none;
  color: #443258;
}

.authenticated {
  color: #443258;
}

.container {
  width: 700px;
  height: 550px;
  position: relative;
  font: 12px georgia, serif;
  background-color: #92b686;
  color: #000;
  padding: 10px;
  margin: 300px auto 0 auto;
  margin-bottom: 20px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  
}

.container .info {
  position: absolute;
  left: 330px;
  top: 10px;
}

.container .info h3 {
  font-weight: normal;
  font-size: 18px;
  font-style: italic;
  margin: 5px 0 0 0;
}

.container .info h4 {
  font-weight: normal;
  font-size: 15px;
  margin: 7px 0 0 0;
}

.container .info .buy {
  margin: 10px 0 0 0;
}

.container .info .buy a {
  display: block;
  width: 100px;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 7px;
}

.container .info h4 span{
  font-style: italic;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */
.sc-player .sc-artwork-list {
  width: 300px;
  height: 100%;
  list-style-type: none;
  position: relative;
}

.sc-player .sc-artwork-list li {
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active {
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 300px;
  height: 300px;
}

/* controls */


.sc-player .sc-controls{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -50px;
  margin-top: -25px;
  top: 160px;
  left: 25%;
}

.sc-player .sc-controls a{
  display: block;
  width: 50px;
  height: 50px;
  background: transparent url("../css/button.png") -5px -5px no-repeat;
  text-indent: -9999px;
  outline: 0;
}

.sc-player .sc-controls a:hover {
  background: transparent url("../css/button.png") -64px -5px no-repeat;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
  background: transparent url("../css/button.png") -5px -70px no-repeat;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;

}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */
.sc-scrubber {
  background-color: red;
  position: absolute;
  left: -5000px;
  bottom: 10px;
  height: 20px;
  width: 250px;
}

.sc-player:hover .sc-scrubber {
  display: block;
  left: 10px;
}

.sc-scrubber .sc-time-span{
  background-color: #fff;
  height: 10px;
  margin: 5px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  background-color: #aaa;
  height: 10px;
  position: absolute;
  top: 0;
}

.sc-scrubber .sc-played{
  background-color: #333;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  top: -15px;
}
/* tracks */


/* Track listings*/
.sc-player ol.sc-trackslist{
  position: absolute;
  width: 410px;
  height: 100%;
  top: 100px;
  left: 310px;
  overflow: auto;
}

.sc-player ol.sc-trackslist li{
  cursor: pointer;
  margin: 0px 20px;
  padding: 5px 5px 5px 5px;
  position: relative;
  border-bottom: 1px solid #fff;
}

.sc-player ol.sc-trackslist li a.buy {
  position: absolute !important; 
  right: 0;
  width: 50px;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 7px;
  text-decoration: none;
  color: #333;
}

.sc-player ol.sc-trackslist li:hover, .sc-player.playing ol.sc-trackslist li.active{
  background-color: #ff6600;
}

.sc-player ol.sc-trackslist li.active{
  background-color: #ffbb00;
}

/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: 10px;
  left: -5000px;
  width : 400px;
  padding: 5px;
  height: 200px;
  z-index: 500;
  margin-left: -200px;
  background: rgba(30, 30, 30, 0.9);
}

.sc-player .sc-info.active{
  left: 50%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 20px;
  display: none;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  position: absolute;
  top: 10px;
  right: 20px;
  color: #bbb;
}




/* utilities */
.sc-player .hidden {
  display: none;
}

#scPlayerEngine{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
